<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Friends</title>
</head>
<body>
    <h1>Add Friends</h1>
  <form action="">
    <label for="" name="id">Id</label>
    <input type="text" name="id" id=""> <br><br>
    <label for="" name="name">Name</label>
    <input type="text" name="name" id=""><br><br>
    <label for="" name="designation">Designation</label>
    <input type="text" name="designation" id=""> <br><br>
<button>Submit</button>
</form>
    
</body>
</html>