<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All friends</title>
</head>
<body>
    <h1 style="text-align: center;">All friends</h1>
    <ul >
        <% for(let i of friends)  { %> 
            <li><%=i.name%></li>
        <% } %> 

        </li>
    </ul>
    <a href="/friends/add">Add Friends</a>
</body>
</html>